.form {
  /* max-width: 900px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.form_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  padding: 5px 20px;
  text-align: center;
  margin: 20px 0;
}
.btn {
  width: 100%;
  padding: 10px 16px;
  border: none;
  background-color: #9384d1;
  color: white;
  border-radius: 30px;
}
/* .form_item input {
  padding: 8px 16px;
  border: none;
  border: 2px solid #9384d1;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.form_item input:hover {
  border-bottom: 4px solid #7a5bf2;
}
.form_item input:active {
  border: none;
  border: 2px solid #9384d1;
  border-bottom: 4px solid #7a5bf2;
}

@media screen and (max-width: 378px) {
  .form_item {
    display: flex;
    flex-direction: column;
  }
} */

/* .form_item input:invalid {
  border: none;
  border: 2px solid red;
  animation: shake 0.2s 2;
} */

@keyframes shake {
  25% {
    translate: 6px 0;
  }
  50% {
    translate: -6px 0;
  }
  75% {
    translate: 6px 0;
  }
}
