.ant_trigger {
  padding-left: 20px;
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.ant_trigger:hover {
  color: #1890ff;
}

/* .active {
  background-color: #1890ff;
  color: white;
} */

.ant_logo h2 {
  height: 60px !important;
  text-align: center !important;
  color: white;
  margin-top: 10px;
}
