.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 20px;
  background-color: #fafafa;
  max-width: 1000px;
  margin: 0 auto;
}
.container .img_container {
  display: none;
  margin-top: 200px;
  height: 100vh;
  /* overflow: hidden; */
}

@media screen and (min-width: 900px) {
  .container .img_container {
    display: block;
  }
  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
}
